{% extends 'base.html.twig' %}

{% block title %}RebornRP | Whitelist{% endblock %}

{% block body %}
{% include 'includes/header.html.twig' %}
<div class="form_register">
<img class="logo_register" src="{{asset('images/logo.jpg')}}">
<div class="h3">
<h3>Passage de douane <b style="color: #333; ">Reborn Roleplay</b>
</div>
<div class="my-custom-class-for-errors">

    </div>
{{ form_start(form) }}

<span class="badge badge-secondary badgePerso">SteamHex 64 <a href="" target="_blank"></a></span>
{{ form_widget(form.steamId,{'attr': {'placeholder': 'steam:11111111111111 ...'} }) }}<br/>

<span class="badge badge-secondary badgePerso">Nom du personnage</span>
{{ form_widget(form.nom,{'attr': {'placeholder': 'Adresse Email'} }) }}<br/>

<span class="badge badge-secondary badgePerso">Prénom du personnage</span>
{{ form_widget(form.prenom,{'attr': {'placeholder': 'Exemple Hugor'} }) }}<br/>

<span class="badge badge-secondary badgePerso">Expliquez nous le métagame ?</span>
{{ form_widget(form.q1) }}<br/>

<span class="badge badge-secondary badgePerso">Expliquez nous le Powergame ?</span>
{{ form_widget(form.q2) }}<br/>

<span class="badge badge-secondary badgePerso">Expliquez nous le NoFear</span>
{{ form_widget(form.q3) }}<br/>

<span class="badge badge-secondary badgePerso">Expliquez nous le DriveBy ?</span>
{{ form_widget(form.q4) }}<br/>

<span class="badge badge-secondary badgePerso">Pourquoi vous est pas un autres ?</span>
{{ form_widget(form.q5) }}<br/>

<span class="badge badge-secondary badgePerso">Background de votre personnage</span>
{{ form_widget(form.background) }}<br/>

<button type="submit" class="btn btn-success btnPerso">Faire ma demande</button>
{{form_end(form)}}
</div>
{% endblock %}
