{% extends 'base.html.twig' %}

{% block title %}Connexion sur Reborn Roleplay{% endblock %}

{% block body %}
<div class="form_register">
<img class="logo_register" src="{{asset('images/logo.jpg')}}">
<div class="h3">
<h3>Connexion sur <b style="color: #333; ">Reborn Roleplay</b>
</div>
{# <div class="my-custom-class-for-errors">
        <div class="alert alert-warning alertPerso" > {{ form_errors(form.email) }}</div>
        <div class="alert alert-danger alertPerso" > {{ form_errors(form.password) }}</div>
        <div class="alert alert-danger alertPerso" > {{ form_errors(form.confirm_password) }}</div>
    </div> #}
<form action="{{ path('security_login')}}" method="post">

    <div class="form-group">
        <span class="badge badge-secondary badgePerso">Nom D'utilisateur</span>
        <input type="text" class="form-control" placeholder="Nom d'utilisateur" name="_username" id="email">
    </div>

    <div class="form-group">
        <span class="badge badge-secondary badgePerso">Mot de Passe</span>
        <input type="password" class="form-control" placeholder="Mot de passe" name="_password" id="pwd">
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-success btnPerso">Connexion</button>
    </div>
</form>
</div>
{% endblock %}