{% extends 'base.html.twig' %}

{% block title %}LSPD Casier Judiciaire| Reborn RP{% endblock %}

{% block body %}
 {% include 'includes/menuLspd.html.twig' %}

 <div class="boxFormLspd">

<div class="my-custom-class-for-errors">

    </div>
{{ form_start(form) }}

<span class="badge badge-secondary">Nom *</span>
{{ form_widget(form.nom,{'attr': {'placeholder': 'Nom de la personne ...'} }) }}<br/>

<span class="badge badge-secondary">Prenom *</span>
{{ form_widget(form.prenom) }}<br/>

<span class="badge badge-secondary">Date de Naissance *</span>
{{ form_widget(form.dateDeNaissance) }}<br/>

<span class="badge badge-secondary">Téléphone de la personne *</span>
{{ form_widget(form.telephone,{'attr': {'placeholder': ''} }) }}<br/>

<span class="badge badge-secondary">Casier Judiciaire *</span>
{{ form_widget(form.casier,{'attr': {'placeholder': ''} }) }}<br/>

<span class="badge badge-secondary">Date de Création du casier *</span>
{{ form_widget(form.createdAt,{'attr': {'placeholder': ''} }) }}<br/>

<button type="submit" class="btn btn-success">Créer le casier</button>
{{form_end(form)}}
<h3>Tous les champs marquée d'un <font color="red"><h1>*</h1></font> sont obligatoire</h3>
 </div>

 {% endblock %}