{% extends 'base.html.twig' %}

{% block title %}LSPD AJout d'enquête | Reborn RP{% endblock %}

{% block body %}
 {% include 'includes/menuLspd.html.twig' %}

 <div class="boxFormLspd">

<div class="my-custom-class-for-errors">

    </div>
{{ form_start(form) }}

<span class="badge badge-secondary">Titre de votre enquête</span>
{{ form_widget(form.title,{'attr': {'placeholder': 'Titre de l\'enquête...'} }) }}<br/>

<span class="badge badge-secondary">Enquête sur :</span>
{{ form_widget(form.sur,{'attr': {'placeholder': 'Nom et prénom de la personne contre qui l\'enquête est destinée  '} }) }}<br/>

<span class="badge badge-secondary">Date d'enquête </span>
{{ form_widget(form.date) }}<br/>

<span class="badge badge-secondary">Heure de l'enquête</span>
{{ form_widget(form.time) }}<br/>

<span class="badge badge-secondary">Catégorie de l'enquête</span>
{{ form_widget(form.categorie,{'attr': {'placeholder': 'Catégorie de l\'enquête'} }) }}<br/>

<span class="badge badge-secondary">Nom de l'agent</span>
{{ form_widget(form.agent,{'attr': {'placeholder': 'Nom de l\'agent'} }) }}<br/>

<span class="badge badge-secondary">Contenue de votre Enquête</span>
{{ form_widget(form.content,{'attr': {'placeholder': 'Contenue de votre enquête image autorisé'} }) }}<br/>

<button type="submit" class="btn btn-success">Créer mon dossier</button>
{{form_end(form)}}

 </div>

 {% endblock %}