{% extends 'base.html.twig' %}

{% block title %}LSPD Dêpot de plainte| Reborn RP{% endblock %}

{% block body %}
 {% include 'includes/menuLspd.html.twig' %}

 <div class="boxFormLspd">

<div class="my-custom-class-for-errors">

    </div>
{{ form_start(form) }}

<span class="badge badge-secondary">Nom *</span>
{{ form_widget(form.Nom) }}<br/>

<span class="badge badge-secondary">Prenom *</span>
{{ form_widget(form.prenom) }}<br/>

<span class="badge badge-secondary">Agent en charge de la Plainte *</span>
{{ form_widget(form.agent) }}<br/>

<span class="badge badge-secondary">Motif de la plainte *</span>
{{ form_widget(form.Motif,{'attr': {'placeholder': ''} }) }}<br/>

<span class="badge badge-secondary">Date de saisie *</span>
{{ form_widget(form.createdAt,{'attr': {'placeholder': ''} }) }}<br/>

<span class="badge badge-secondary">Date des Faits *</span>
{{ form_widget(form.date,{'attr': {'placeholder': ''} }) }}<br/>

<span class="badge badge-secondary">Lieu des Faits *</span>
{{ form_widget(form.lieu,{'attr': {'placeholder': ''} }) }}<br/>

<span class="badge badge-secondary">Description des faits *</span>
{{ form_widget(form.description,{'attr': {'placeholder': ''} }) }}<br/>

<button type="submit" class="btn btn-success">Enregistrer le dêpot de plainte</button>
{{form_end(form)}}

 </div>

 {% endblock %}