{% extends 'base.html.twig' %}

{% block title %}LSPD | Reborn RP{% endblock %}

{% block body %}
 {% include 'includes/menuLspd.html.twig' %}

 <div class="boxFormLspd">

<div class="my-custom-class-for-errors">

    </div>
{{ form_start(form) }}

<span class="badge badge-secondary">Titre du Rapport</span>
{{ form_widget(form.title,{'attr': {'placeholder': 'Titre du Rapport ...'} }) }}<br/>

<span class="badge badge-secondary">Date du Rapport</span>
{{ form_widget(form.date) }}<br/>

<span class="badge badge-secondary">Heure du Rapport</span>
{{ form_widget(form.time) }}<br/>

<span class="badge badge-secondary">Catégorie du rapport</span>
{{ form_widget(form.categorie,{'attr': {'placeholder': 'Catégorie du rapport'} }) }}<br/>

<span class="badge badge-secondary">Nom de l'agent</span>
{{ form_widget(form.agent,{'attr': {'placeholder': 'Nom de l\'agent'} }) }}<br/>

<span class="badge badge-secondary">Contenue du Rapport</span>
{{ form_widget(form.content,{'attr': {'placeholder': 'Confirmation du Mot de Passe'} }) }}<br/>

<button type="submit" class="btn btn-success">Créer mon rapport</button>
{{form_end(form)}}

 </div>

 {% endblock %}