{% extends 'base.html.twig' %}

{% block title %}LSPD Casier Judiciaire | Reborn RP{% endblock %}

{% block body %}
 {% include 'includes/menuLspd.html.twig' %}

 <div class="row">
 <div class="col-lg-12 col-md-12 col-sm-12 LspdBox12">
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th>Numéro de dossier</th>
                    <th>Date / Heure</th>
                    <th>Nom</th>
                    <th>Prenom</th>
                    <th>Telephone</th>
                    <th>Action disponible</th>
                </tr>
                </thead>
                <tbody>
                {% for casier in casiers %}
                <tr>
                    <td>{{ casier.id }}</td>
                    <td>{{ casier.createdAt|date('d/m/y')}} à {{ casier.createdAt|date('H:m') }} </td>
                    <td>{{ casier.nom }}</td>
                    <td>{{ casier.prenom }}</td>
                    <td>{{ casier.telephone }}</td>
                    {% if metier.police == 10 %}
                     <td><a href="{{path('lspd_casier_view', {'id': casier.id })}}"><button class="btn btn-success">Voir</button></a>
                    <a href="{{ path('lspd_casier_delete', {'id': casier.id })}}"><button class="btn btn-danger">Supprimer</button></a>
                    <a href="{{path('lspd_casier_edit', {'id': casier.id })}}"><button class="btn btn-warning">Edition</button></a></td>
                    {% else %} 
                     <td><a href="{{path('lspd_casier_view', {'id': casier.id })}}"><button class="btn btn-success">Voir</button></a>
                     <a href="{{path('lspd_casier_edit', {'id': casier.id })}}"><button class="btn btn-warning">Edition</button></a></td> 
                    {% endif %}
                    <td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
    </div>
  
  


 </div>

  
 
 
 {% endblock %}