{% extends 'base.html.twig' %}

{% block title %}LSPD Rapport | Reborn RP{% endblock %}

{% block body %}
 {% include 'includes/menuLspd.html.twig' %}

 <div class="row">
 <div class="col-lg-12 col-md-12 col-sm-12 LspdBox12">
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th>Date / Heure</th>
                    <th>Titre</th>
                    <th>Agent en Charge</th>
                    <th>Action disponible</th>
                </tr>
                </thead>
                <tbody>
                {% for rapport in rapports %}
                <tr>
                    <td>{{ rapport.date|date('d/m/y')}} à {{ rapport.time|date('H:m') }} </td>
                    <td>{{ rapport.title }}</td>
                    <td>{{ rapport.agent }}</td>
                    {% if metier.police == 10 %}
                     <td><a href="{{path('lspd_rapport_view', {'id': rapport.id })}}"><button class="btn btn-success">Voir</button></a>
                    <a href="{{ path('lspd_rapport_delete', {'id': rapport.id })}}"><button class="btn btn-danger">Supprimer</button></a></td>
                    {% else %} 
                     <td><a href="{{path('lspd_rapport_view', {'id': rapport.id })}}"><button class="btn btn-success">Voir</button></a></td> 
                    {% endif %}
                    <td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
    </div>
  
  


 </div>

  
 
 
 {% endblock %}