{% extends 'base.html.twig' %}

{% block title %}Casier Judiciaire numéro {{ casier.id }} {% endblock %}

{% block body %}
 {% include 'includes/menuLspd.html.twig' %}

    <!-- our -->
    <div id="games" class="our">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="titlepage">
                        <h2>Casier numéro - {{ casier.id|lower }}</h2>
                    </div>
                </div>
            </div>
            <div class="row">
           
                <div class="col-md-12 margin_bottom">
                    <div class="row">

                        

                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">

                            <div class="Games">
                                <h3></h3>
                                <div class="author">Telephone : <span class="badge badge-info">{{ casier.telephone }}</span> date : <span class="badge badge-danger">{{ casier.createdAt|date('d/m/Y') }} à {{casier.createdAt|date('H:m')  }}</span></div>
                                <h5>Casier Judiciaire de  {{ casier.nom }} {{ casier.prenom }}</h5>
                                <p>{{ casier.casier|raw}} </p>
                               
                            </div>
                        </div>
                    </div>
                </div>
               
                
               
            </div>
        </div>
    </div>


    
{% endblock %}