{% extends 'base.html.twig' %}

{% block title %}Rapport de police numéro {{ enquete.id }} {% endblock %}

{% block body %}
 {% include 'includes/menuLspd.html.twig' %}

    <!-- our -->
    <div id="games" class="our">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="titlepage">
                        <h2>Enquête numéro - {{ enquete.id|lower }}</h2>
                    </div>
                </div>
            </div>
            <div class="row">
           
                <div class="col-md-12 margin_bottom">
                    <div class="row">

                        

                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">

                            <div class="Games">
                                <h3></h3>
                                <div class="author">Agent : <span class="badge badge-info">{{ enquete.agent }}</span> Catégorie : <span class="badge badge-danger">{{ enquete.categorie }}</span> </div>
                                <h5>Enquête sur {{ enquete.sur }}</h5>
                                <p>{{ enquete.content|raw}} </p>
                               
                            </div>
                        </div>
                    </div>
                </div>
               
                
               
            </div>
        </div>
    </div>


    
{% endblock %}