{% extends 'base.html.twig' %}

{% block title %}LSPD | Reborn RP{% endblock %}

{% block body %}
 {% include 'includes/menuLspd.html.twig' %}
 {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
 <div class="row">
 <div class="col-lg-12 col-md-12 col-sm-12 LspdBox12">
    <div class="card" style="width: 100%;">
  <div class="card-header">Liste des 4 dernier Rapport</div>
  <div class="card-body">
    <div class="container">
    <h2>4 Dernier rapport de police</h2>
    <p><a href="{{ path('lspd_rapport_all')}}"><button class="btn btn-info btnRapport">Voir tous</button></a></p>
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th>Date / Heure</th>
                    <th>Titre</th>
                    <th>Agent en Charge</th>
                    <th>Action disponible</th>
                </tr>
                </thead>
                <tbody>
                {% for rapport in rapports %}
                <tr>
                    <td>{{ rapport.date|date('d/m/y')}} à {{ rapport.time|date('H:m') }} </td>
                    <td>{{ rapport.title }}</td>
                    <td>{{ rapport.agent }}</td>
                    {% if metier.police == 10 %}
                     <td><a href="{{path('lspd_rapport_view', {'id': rapport.id })}}"><button class="btn btn-success">Voir</button></a>
                    <a href="{{ path('lspd_rapport_delete', {'id': rapport.id })}}"><button class="btn btn-danger">Supprimer</button></a></td>
                    {% else %} 
                     <td><a href="{{path('lspd_rapport_view', {'id': rapport.id })}}"><button class="btn btn-success">Voir</button></a></td> 
                    {% endif %}
                </tr>
                {% endfor %}
                </tbody>
            </table>
    </div>
  
  
  </div>
  <div class="card-footer">Action Delete uniquement disponible pour le chef</div>
</div>
 </div>
 </div>
 {# Enquête de police controller -> PoliceController dans lspd_home  #}
 <div class="row">

    <div class="col-lg-4 col-md-4 col-sm-12 LspdBox12">
        <div class="card" style="width: 100%;">
            <div class="card-header">Liste des enquêtes de police</div>
            <div class="card-body">
            
            <div class="container">
    <h2>4 Dernier Dossier d'enquête</h2>
    <p><a href="{{ path('lspd_enquete_all')}}"><button class="btn btn-info btnRapport">Voir tous</button></a></p>
            <table class="table table-hover">
                <thead class="thead-dark">
                <tr>
                    <th>Date / Heure</th>
                    <th>Titre</th>
                    <th>Agent en Charge</th>
                    <th>Enquête sur </th>
                    <th>Action disponible</th>
                </tr>
                </thead>
                <tbody>
                {% for enquete in enquetes %}
                <tr>
                    <td>{{ enquete.date|date('d/m/y')}} à {{ enquete.time|date('H:m') }} </td>
                    <td>{{ enquete.title }}</td>
                    <td>{{ enquete.agent }}</td>
                    <td>{{ enquete.sur }}</td>
                    {% if metier.police == 10 %}
                     <td><a href="{{path('lspd_enquete_view', {'id': enquete.id })}}"><button class="btn btn-success">Voir</button></a>
                    <a href="{{ path('lspd_enquete_delete', {'id': enquete.id })}}"><button class="btn btn-danger">Supprimer</button></a></td>
                    {% else %} 
                     <td><a href="{{path('lspd_enquete_view', {'id': enquete.id })}}"><button class="btn btn-success">Voir</button></a></td> 
                    {% endif %}
                </tr>
                {% endfor %}
                </tbody>
            </table>
    </div>
            
            </div>
             <div class="card-footer">Action Delete uniquement disponible pour le chef</div>
        </div>
    </div>



{# Casier Judiciaire controller -> PoliceController dans lspd_casier  #}


    <div class="col-lg-4 col-md-4 col-sm-12 LspdBox12">
        <div class="card" style="width: 100%;">
            <div class="card-header">Liste des casier creer</div>
            <div class="card-body">
            
            <div class="container">
    <h2>4 Dernier Casier Judiciaire</h2>
    <p><a href="{{ path('lspd_casier_all')}}"><button class="btn btn-info btnRapport">Voir tous</button></a></p>
            <table class="table table-hover">
                <thead class="thead-dark">
                <tr>
                    <th>Nom</th>
                    <th>Prenom</th>
                    <th>Téléphone</th>
                    <th>Date de Création</th>
                    <th>Action disponible</th>
                </tr>
                </thead>
                <tbody>
                {% for casier in casiers %}
                <tr>
                    
                    <td>{{ casier.nom }}</td>
                    <td>{{ casier.prenom }}</td>
                    <td>{{ casier.telephone }}</td>
                    <td>{{ casier.createdAt|date('d/m/y')}} à {{ casier.createdAt|date('H:m') }} </td>
                    {% if metier.police == 10 %}
                     <td><a href="{{path('lspd_casier_view', {'id': casier.id })}}"><button class="btn btn-success">Voir</button></a>
                    <a href="{{ path('lspd_casier_delete', {'id': casier.id })}}"><button class="btn btn-danger">Supprimer</button></a></td>
                    {% else %} 
                     <td><a href="{{path('lspd_casier_view', {'id': casier.id })}}"><button class="btn btn-success">Voir</button></a></td> 
                    {% endif %}
                </tr>
                {% endfor %}
                </tbody>
            </table>
    </div>
            
            </div>
             <div class="card-footer">Action Delete uniquement disponible pour le chef</div>
        </div>
    </div>

</div>

<div class="row">
  <div class="col-lg-8 col-md-8 col-sm-12 LspdBox">
<div class="card" style="width: 100%;">
  <div class="card-header">Header</div>
  <div class="card-body">Content</div>
  <div class="card-footer">Footer</div>
</div>
 </div>

  <div class="col-lg-8 col-md-8 col-sm-12 LspdBox">
<div class="card" style="width: 100%;">
  <div class="card-header">Header</div>
  <div class="card-body">Content</div>
  <div class="card-footer">Footer</div>
</div>
 </div>
 </div>
 
 
 {% endblock %}
