

{% extends 'base.html.twig' %}

{% block title %}Extrait de casierJudicaire {% endblock %}

{% block body %}
 {% include 'includes/menuProfile.html.twig' %}
<div class="jumbotron">
  <h1>Extrait de casier de Judicaire de {{ casier.nom }} {{ casier.prenom }}</h1>
  <p>{{ casier.casier|raw }}</p>
</div>
{% endblock %}