:root {
  /* make the backend contents as wide as the browser window */
  --body-max-width: 100%;
  --body-margin:0;
  --body-padding:0;
  /* change the background color of the <body> */
  --body-bg: #000;
  /* make the base font size smaller */
  --font-size-base: 13px;
  /* remove all border radius to make corners straight */
  --border-radius: 0px;
  --sidebar-width: 250px;
}
.main-sidebar{
   background-color: #222d32;
  color: white;
  height: 100vh;
 
 
}
.sidebar-menu li{
  color: white;
  padding: 10px;
  background-color: #2c3b41;
  border: none !important;
  padding: 30px;
}
.sidebar-menu li .fa{
  color :white;
}
.sidebar-menu li .fa:active{
   color :white;
 }
 #easyadmin-list-Service > div.wrapper > aside > section > ul > li.treeview.active.submenu-active.menu-open{
    color: #ECC271;
 }
.sidebar-menu li:active{
  background-color: rgb(111, 145, 160);
}
.navbar-custom-menu{
  padding: 10px;
  background-color: #ECC271 !important;
  margin-right: -10px;
}
.navbar-custom-menu .user{
  margin-top: 3px;
  padding: 10px;
}
.wrapper{
  grid-row-gap:0 !important;
  margin: 0 !important;
  width: calc(109% - 150px) !important;
}

.logo{
  width: 150px;
  height: 70px;
  margin-left: 10px;
}
.main-sidebar .sidebar .sidebar-menu ul li a i,span{
  color: white;
}
.navbar-custom-menu{
  background-color: rgb(255, 255, 255);
  color: white;

}
.main-header{
background-color: rgb(111, 145, 160);

}
.action-edit{
  background-color: #ECC271;
  color: black;
  padding: 10px;
  text-align:center !important;

}
.action-delete{
  background-color: #c20303;
  color: white !important;
  padding: 10px;
  text-align:center !important;

}
.datagrid td.actions a{
/* display:flex;
flex-direction:row;
text-align:center; */
}
.datagrid td.actions{
  text-align: center !important;
}
.datagrid td:last-child{
  padding-right: 0 !important;
}
.action-new{
  background-color:#ECC271;
  color: #fff;
}
.action-new:hover{
  background-color: #fff;
  color: black !important;
}
#main .table td span{
  color :black;
}
.table .datagrid{
  padding: 20px;
}
.select2-results ul li{
  color: black;
  background-color: none;
} 
.select2-results ul li:hover{
  color: black;
  background-color: #ECC271;
} 
.select2-results__option--highlighted{
  background-color: #ECC271 !important;
  color: black !important;
}

.select2-results__options [aria-selected="true"] {
  background-color: #ECC271 !important;
}
.treeview-menu{
 width: 100%;
 padding: 0;
 background-color:#ECC271;
}

.treeview-menu a {
 width:100%;
 border: 0;
 height: 30px;
 font-size: 1em;


}
.sidebar-menu li {
 padding: 0;  
}
.sidebar-menu li ul li {
 border: none;
 width: 100%;
 padding: 10px;
 
 
}
.treeview .menu-open ul{
 padding: 0;

}
.treeview .menu-open ul li{
 padding: 0;
 
}
/* .grid-container {
 display: grid;
 grid-template-columns: 1.5fr 1.5fr 1.5fr 1.5fr;
 grid-template-rows: 1fr 1fr 1fr;
 grid-template-areas: ". . . ." ". . . ." ". . . .";
 grid-gap: 5px 5px;
 padding: 20px;
} */


.card-group {
 margin-left: 45px;
 margin-bottom: 30px;
}
.card-group {
 flex-flow: row wrap;
}
.card-group {
 display: flex;
 flex-direction: row;
}
.p-lg-3 {
 padding: 1rem !important;
}
.p-2 {
 padding: .5rem !important;
}
.card {
 word-wrap: break-word;
 border: solid 1px #dcdcdc;
 max-width: 350px;
}
.align-items-center {
 align-items: center !important;
}
.d-flex {
 display: flex !important;
}
.font-light {
 font-weight: 300;
}
.h4, h4 {
 font-size: 1.125rem;
}
.progress {
 -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.05);
 box-shadow: inset 0 1px 2px rgba(0,0,0,.05);
 -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.05);
 -o-shadow: inset 0 1px 2px rgba(0,0,0,.05);
}
.progress {
 display: flex;
 height: 4px;
 font-size: .65625rem;
 background-color: rgba(120,130,140,.13);
 border-radius: 0;
}
.display-7 {
 font-size: 2rem;
}
.display-5, .display-6, .display-7 {
 font-weight: 300;
 line-height: 1.2;
}
.mb-0, .my-0 {
 margin-bottom: 0 !important;
}
.btn-circle.btn-lg, .btn-group-lg > .btn-circle.btn {
 width: 50px;
 height: 50px;
 padding: 14px 15px;
 font-size: 18px;
 line-height: 23px;
}
.btn-danger:hover {
 color: #fff;
 background-color: #ECC271;
 border-color: #ECC271;
}
.btn:hover {
 color: #ECC271;
}
.btn-circle {
 border-radius: 100%;
 width: 40px;
 height: 40px;
 padding: 10px;
}
.btn {
 position: relative;
 transition: all .2s ease-in-out;
}
.text-white {
 color: #fff !important;
}
.btn-secondary{
 background-color:#ECC271;
 border: solid 2px black;
 color: black !important;
}
.btn-secondary .disabled{
   background-color:#ECC271;
   border: solid 2px black;
   color: black !important;
  }
.btn-secondary:hover{
 background-color:rgb(102, 13, 13);

}
.btn-secondary:active{
 background-color:#ECC271;
}

.btn.disabled, .btn.disabled:active, .btn.disabled:active:focus, .btn.disabled:focus, .btn.disabled:hover, .btn:disabled, .btn:disabled:active, .btn:disabled:active:focus, .btn:disabled:focus, .btn:disabled:hover {
color: black !important;
   background-color: skyblue;
}
.treeview .active .menu-open{

  background-color: #ECC271;

}
.active a .fa{
  color: #ECC271;
}
.sidebar-menu li .fa{
  color: #ECC271;
}
.active{
  color: #ECC271;
}
.sidebar-menu li:not(.submenu-active).active .fa, .sidebar-menu li:not(.submenu-active).active a{
  color: #333;
}
.navbar-custom-menu .user{
  color: #333;
}
.treeview-menu>li>a {
  padding: 5px 5px 5px 15px;
  display: block;
  font-size: 14px;
}
.sidebar-menu .treeview-menu>li>a {
  color: #8aa4af;
}
.sidebar-menu>li>.treeview-menu {
  margin: 0 1px;
  background: #2c3b41;
}
.treeview>ul.treeview-menu {
  overflow: hidden;
  height: auto;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
.treeview-menu {
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;
  padding-left: 5px;
}
li {
  display: list-item;
  text-align: -webkit-match-parent;
}
.sidebar-menu>li:hover>a, .sidebar-menu>li.active>a, .sidebar-menu>li.menu-open>a {
  color: #fff !important;
  background: #1e282c;
}
.sidebar-menu>li {
  position: relative;
  margin: 0;
  padding: 0;
  color:white !important;
}
.sidebar-menu, .main-sidebar .user-panel, .sidebar-menu>li.header {
  white-space: nowrap;
  overflow: hidden;
}
.sidebar-menu>li>.treeview-menu {
  margin: 0 1px;
  background: #2c3b41;
}

.main-header{
  -webkit-transition: margin-left .3s ease-in-out;
  -o-transition: margin-left .3s ease-in-out;
  transition: margin-left .3s ease-in-out;
  margin-bottom: 0;
  border: none;
  min-height: 50px;
  border-radius: 0;
}
.sidebar {
  padding-bottom: 10px;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}
body {
  font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
  font-weight: 400;
  overflow-x: hidden;
  overflow-y: auto;
}
.sidebar-menu {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
.content-wrapper {
  min-height: calc(100vh - 101px);
  background-color: #ecf0f5;
  z-index: 800;
}

.content-wrapper, .main-footer {
  -webkit-transition: -webkit-transform .3s ease-in-out,margin .3s ease-in-out;
  -moz-transition: -moz-transform .3s ease-in-out,margin .3s ease-in-out;
  -o-transition: -o-transform .3s ease-in-out,margin .3s ease-in-out;
  transition: transform .3s ease-in-out,margin .3s ease-in-out;
  margin-left: -10px;
  z-index: 820;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
user agent stylesheet
div {
  display: block;
}

.fa {
  color: white !important;
}
.content-body {
  position: relative;
  border-radius: 3px;
  background: #ffffff;
  border-top: 3px solid #d2d6de;
  margin-bottom: 20px;
  width: 100%;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}
.content-body>.table {
  margin-bottom: 0;
}
.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}
table {
  background-color: transparent;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
.btn .btn-warning .action-edit{
  border-radius: 3px;
  position: relative;
  padding: 15px 5px;
  margin: 0 0 10px 10px;
  min-width: 80px;
  height: 60px;
  text-align: center;
  font-size: 12px;
}
.btn{
  display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.navbar-custom-menu {
  padding: 10px;
  background-color: #ECC271 !important;
  margin-right: -10px;
}
.main-header {
  position: relative;
  max-height: 100px;
  z-index: 1030;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}
.main-header .logo {
  color: #fff !important;
  border-bottom: 0 solid transparent;
}
.main-header .logo {
  -webkit-transition: width .3s ease-in-out;
  -o-transition: width .3s ease-in-out;
  transition: width .3s ease-in-out;
  display: block;
  float: left;
  height: 60px;
  font-size: 20px;
  line-height: 50px;
  text-align: center;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  padding: 0 15px;
  font-weight: 300;
  overflow: hidden;
  margin-top: -2px;
  margin-left: -50px;
}

.main-header{
  background-color: #3c8dbc;
}
.main-header {
  display: flex;
  justify-content: space-between;
  height: 50px !important;
}
.nav>li>a {
  position: relative;
  display: block;
  padding: 10px 15px;
}
.navbar-custom-menu {
  background-color: #367fa9 !important;
  margin-right: -10px;
  margin-top: -10px;
}
.navbar-custom span{
line-height: 20px;
}
.sidebar-menu, .main-sidebar .user-panel, .sidebar-menu>li.header {
  white-space: nowrap;
  overflow: hidden;
}

.user-panel {
  position: relative;
  width: 100%;
  padding: 10px;
  overflow: hidden;
}
.pull-left {
  float: left!important;
}
.user-panel>.image>img {
  width: 100%;
  max-width: 45px;
  height: auto;
}
.img-circle {
  border-radius: 50%;
}

img {
  vertical-align: middle;
}
img {
  border: 0;
}
 .user-panel>.info,  .user-panel>.info>a {
  color: #fff;
}

.user-panel>.info {
  padding: 5px 5px 5px 15px;
  line-height: 1;
  position: absolute;
  left: 55px;
}
.pull-left {
  float: left;
}
.pull-left {
  float: left!important;
}
.user-panel>.info>a>.fa, .user-panel>.info>a>.ion, .user-panel>.info>a>.glyphicon {
  margin-right: 3px;
}

.user-panel>.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-bottom: 5px;
}
.user-panel .fa-circle:before {
  content: "\f111";
  color: green;
}
.text-success {
  color: #3c763d;
}
.sidebar-menu>li.header {
  color: #4b646f;
  background: #1a2226;
}

.sidebar-form, .sidebar-menu>li.header {
  overflow: hidden;
  text-overflow: clip;
}
.sidebar-menu, .main-sidebar .user-panel, .sidebar-menu>li.header {
  white-space: nowrap;
  overflow: hidden;
}
.sidebar-menu li.header {
  padding: 10px 25px 10px 15px;
  font-size: 12px;
}
.sidebar-menu>li {
  position: relative;
  margin: 0;
  padding: 0;
}
.user-panel>.info {
  padding: 5px 5px 5px 15px;
  line-height: 1;
  position: absolute;
  left: 55px;
}
.user-panel>.info>p {
  font-weight: 600;
  margin-bottom: 9px;
}
table.datagrid thead {
  background-color: #333 !important;
  color: #fff !important;
}
table.datagrid thead a{
  color: white !important;
}
.btnAdmin{
  border-radius: 0 !important;
}
.btn:hover{
  background-color: #333 !important;
  border-color: #fff;
}
.main-header #header-logo a {
  color: #fff !important;
}
.action-new {
  background-color: #3c8dbc !important;
  color: #fff;
  border-radius: 0 !important;
}
.actions .btn{
  width: 130px !important;
}
.actions .btn:hover{
  background-color: #ECC271 !important;
  color: #333 !important;
  border: none;
}
.navbar-nav>.user-menu>.dropdown-menu>li.user-header {
  height: 175px;
  padding: 10px;
  text-align: center;
}

.popover-content-section .user-menu {
  background-color: #3c8dbc;
}
.modal-backdrop.show {
  opacity: 0 !important;
  overflow-x: hidden;
    overflow-y: auto;
    margin-top: 500px;
    position:relative;
}
.modal-backdrop.fade {
  opacity: 0;
  margin-top: 500px;
    position:relative;
}
.modal-backdrop {
 
  position: relative !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}

.fade {
  transition: opacity .15s linear;
}
.modal-open {
  overflow: hidden;
}

.modal-dialog {
  position: relative;
  top: 25%;
  width: auto;
  pointer-events: none;
}

/* popover-content-section user-menu */