/*--------------------------------------------------------------------- File Name: style.css ---------------------------------------------------------------------*/
/*--------------------------------------------------------------------- import Fonts ---------------------------------------------------------------------*/
 @import url('https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700');
 @import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
/*****---------------------------------------- 1) font-family: 'Rajdhani', sans-serif;
 2) font-family: 'Poppins', sans-serif;
 ----------------------------------------*****/
/*--------------------------------------------------------------------- import Files ---------------------------------------------------------------------*/
 @import url(animate.min.css);
 @import url(normalize.css);
 @import url(icomoon.css);
 @import url(font-awesome.min.css);
 @import url(meanmenu.css);
 @import url(owl.carousel.min.css);
 @import url(swiper.min.css);
 @import url(slick.css);
 @import url(jquery.fancybox.min.css);
 @import url(jquery-ui.css);
 @import url(nice-select.css);
/*--------------------------------------------------------------------- skeleton ---------------------------------------------------------------------*/
 * {
     box-sizing: border-box !important;
}
 html {
     scroll-behavior: smooth;
}
 body {
     color: #666666;
     font-size: 14px;
     font-family: 'poppins', sans-serif;
     line-height: 1.80857;
     font-weight: normal;
     overflow-x: hidden;
}
 a {
     color: #1f1f1f;
     text-decoration: none !important;
     outline: none !important;
     -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
     -ms-transition: all .3s ease-in-out;
     -o-transition: all .3s ease-in-out;
     transition: all .3s ease-in-out;
}
 h1, h2, h3, h4, h5, h6 {
     letter-spacing: 0;
     font-weight: normal;
     position: relative;
     padding: 0 0 10px 0;
     font-weight: normal;
     line-height: normal;
     color: #111111;
     margin: 0 
}
 h1 {
     font-size: 24px 
}
 h2 {
     font-size: 22px 
}
 h3 {
     font-size: 18px 
}
 h4 {
     font-size: 16px 
}
 h5 {
     font-size: 14px 
}
 h6 {
     font-size: 13px 
}
 *, *::after, *::before {
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
}
 h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
     color: #212121;
     text-decoration: none!important;
     opacity: 1 
}
 button:focus {
     outline: none;
}
 ul, li, ol {
     margin: 0px;
     padding: 0px;
     list-style: none;
}
 p {
     margin: 0px;
     font-weight: 300;
     font-size: 15px;
     line-height: 24px;
}
 a {
     color: #222222;
     text-decoration: none;
     outline: none !important;
}
 a, .btn {
     text-decoration: none !important;
     outline: none !important;
     -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
     -ms-transition: all .3s ease-in-out;
     -o-transition: all .3s ease-in-out;
     transition: all .3s ease-in-out;
}
.img-responisve {
     max-width: 100%;
     height: auto;
}
 :focus {
     outline: 0;
}
 .btn-custom {
     margin-top: 20px;
     background-color: transparent !important;
     border: 2px solid #ddd;
     padding: 12px 40px;
     font-size: 16px;
}
 .lead {
     font-size: 18px;
     line-height: 30px;
     color: #767676;
     margin: 0;
     padding: 0;
}
 .form-control:focus {
     border-color: #ffffff !important;
     box-shadow: 0 0 0 .2rem rgba(255, 255, 255, .25);
}
 .navbar-form input {
     border: none !important;
}
 .badge {
     font-weight: 500;
}
 blockquote {
     margin: 20px 0 20px;
     padding: 30px;
}
 button {
     border: 0;
     margin: 0;
     padding: 0;
     cursor: pointer;
}
 .full {
     float: left;
     width: 100%;
}
 .layout_padding {
     padding-top: 90px;
     padding-bottom: 90px;
}
 .layout_padding_2 {
     padding-top: 75px;
     padding-bottom: 75px;
}
 .light_silver {
     background: #f9f9f9;
}
 .theme_bg {
     background: #38c8a8;
}
 .margin_top_30 {
     margin-top: 30px !important;
}
 .full {
     width: 100%;
     float: left;
     margin: 0;
     padding: 0;
}
/**-- heading section --**/
 .main_heading {
     text-align: center;
     display: flex;
     justify-content: center;
     position: relative;
     margin-bottom: 50px;
}
 .main_heading h2 {
     padding: 0;
     font-size: 48px;
     line-height: 60px;
     font-weight: 400;
     position: relative;
     letter-spacing: -0.5px;
     color: #114c7d;
     border-left: solid #38c8a8 10px;
     padding-left: 15px;
}
 .main_heading h2 strong {
     background: #38c8a8;
     color: #fff;
     font-weight: 600;
     padding: 0 15px;
     line-height: 68px;
}
 .white_heading_main h2 {
     color: #fff;
}
 .small_main_heading {
     margin-top: 25px;
     float: left;
     width: 100%;
     border-bottom: solid rgba(0, 0, 0, 0.07) 1px;
     margin-bottom: 25px;
}
 .small_main_heading h2 {
     padding: 2px 0 20px 0;
     color: #114c7d;
     font-weight: 400;
     font-size: 28px;
     background-image: url('../images/fevicon.png');
     background-repeat: no-repeat;
     padding-left: 55px;
     letter-spacing: -0.5px;
}
 .small_main_heading h2 strong {
     color: #38c8a8;
     font-weight: 600;
}
 .main_bt {
     background: #000;
     color: #fff;
     padding: 10px 60px 10px 60px;
     float: left;
     font-size: 15px;
     font-weight: 400;
     border: solid #000 5px;
     border-radius: 0;
     margin-right: 30px;
}
 a.readmore_bt {
     color: #fff;
     font-weight: 300;
     text-decoration: underline !important;
}
 .main_bt:hover, .main_bt:focus {
     background: #ad2101;
     border: solid #ad2101 5px;
     color: #fff;
}
/**-- list icon --**/
 .ul_list_info_icon ul {
     list-style: none;
}
 .ul_list_info_icon ul li {
     display: inline;
     float: left;
     width: 100%;
}
 .ul_list_info_icon ul li img {
     width: 75px;
}
/*---------------------------- preloader area ----------------------------*/
 .loader_bg {
     position: fixed;
     z-index: 9999999;
     background: #fff;
     width: 100%;
     height: 100%;
}
 .loader {
     height: 100%;
     width: 100%;
     position: absolute;
     left: 0;
     top: 0;
     display: flex;
     justify-content: center;
     align-items: center;
}
 .loader img {
     width: 280px;
}
/*---------------------------- scroll to top area ----------------------------*/
 .scrollup {
     float: right;
     position: absolute;
     color: #fff;
     right: 20px;
     padding: 0px 5px;
     text-transform: uppercase;
     font-weight: 600;
     background: #38c8a8;
     position: fixed;
     bottom: 20px;
     z-index: 99;
     text-align: center;
     color: #fff;
     cursor: pointer;
     border-radius: 0px;
     opacity: 0;
     backface-visibility: hidden;
     -webkit-backface-visibility: hidden;
     transform: scale(1);
     -moz-transform: scale(1);
     -o-transform: scale(1);
     -webkit-transform: scale(1);
     transition: .2s all ease;
     -moz-transition: .2s all ease;
     -o-transition: .2s all ease;
     -webkit-transition: .2s all ease;
     width: 50px;
     height: 50px;
     border-radius: 100%;
     line-height: 48px;
     font-size: 16px;
}
 .scrollup.b-show_scrollBut {
     opacity: 1;
     visibility: visible;
}
 .top_awro {
     background: #ee4a79 none repeat scroll 0 0;
     cursor: pointer;
     padding: 6px 8px;
     position: fixed;
     bottom: 59px;
     right: 20px;
     display: none;
     height: 45px;
     width: 45px;
     border-radius: 50%;
     text-align: center;
     line-height: 30px;
     transition: all 0.5s ease;
}
 .sale_pro {
     background: #f25252 !important;
}
 .margin_top_50 {
     margin-top: 50px;
}
 .margin_bottom_30_all {
     margin-bottom: 30px;
}
 .text_align_center {
     text-align: center;
}
/*--------------------------------------------------------------------- header area ---------------------------------------------------------------------*/
 .logo_section {
     text-align: center;
}
 .logo {
     float: left;
}
 nav.main-menu {
     float: left;
     margin-left: 0;
     margin-left: 0;
}
 .menu-area-main li:hover a, .menu-area-main li:focus a {
     color: #333;
     background: rgba(211,207,123);
}
 .menu-area-main li.active a {
     color: #333;
     background: rgba(211,207,123);
}
 .right_cart_section {
     float: right;
     width: auto;
}
 .right_cart_section ul {
     float: left;
     min-height: auto;
     margin: 0;
     padding: 12px 0 0;
}
 .right_cart_section .cart_icons {
     padding: 18px 0 0;
}
 .main-menu ul>li nth:child(5) a {
     padding-right: 0px;
}
 .right_cart_section ul li {
     float: left;
     font-size: 17px;
     font-weight: 400;
     color: #fff;
     margin-right: 30px;
}
 .right_cart_section ul.cart_update li {
     font-size: 13px;
     color: #ccc;
     line-height: normal;
     margin: 0;
     font-weight: 300;
}
 .right_cart_section ul.cart_update li span {
     font-size: 18px;
     font-weight: 300;
     color: #fff;
     line-height: 21px;
}
 .right_cart_section ul li i {
     margin-right: 10px;
     margin-top: 5px;
     float: left;
     color: #fff;
     font-size: 21px;
}
 .right_cart_section ul li a {
     color: #fff;
}
/*-- end header middle --*/
 .top-bar-info {
     background: #111111;
     padding: 5px 0px;
}
 .top-menu-left {
     float: left;
}
 .top-menu-left li {
     position: relative;
     display: inline-block;
     margin-right: 11px;
     padding-right: 12px;
}
 .top-menu-left li::before {
     content: '';
     position: absolute;
     right: 0;
     top: 9px;
     height: 10px;
     border-right: 1px dotted #999;
}
 .top-menu-left li:last-child::before {
     display: none;
}
 .top-menu-left li:last-child {
     padding: 0px;
     margin: 0px;
}
 .top-menu-left li a {
     color: #ffffff;
     font-size: 12px;
     text-transform: uppercase;
     text-decoration: none;
}
 .top-menu-left li a:hover {
     color: #38c8a8;
}
 .right-dropdown-language {
     float: right;
     margin-left: 12px;
}
 .dropdown-bar .dropdown-link {
     position: absolute;
     z-index: 1009;
     top: 40px;
     left: 0;
     right: auto;
     min-width: 50px;
     padding: 15px;
     background: #ffffff;
     list-style: none;
     border: 2px solid #38c8a8;
     opacity: 0;
     visibility: hidden;
     -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
     -webkit-transition: opacity 0.2s ease 0s, visibility 0.2s linear 0s;
     -o-transition: opacity 0.2s ease 0s, visibility 0.2s linear 0s;
     transition: opacity 0.2s ease 0s, visibility 0.2s linear 0s;
     text-align: left;
}
 .dropdown-bar:hover .dropdown-link {
     opacity: 1;
     visibility: visible;
     top: 25px;
}
 .dropdown-bar.right-dropdown-language>a::after {
     font-family: 'FontAwesome';
     content: "\f107";
     text-decoration: none;
     padding-left: 4px;
     color: #ffffff;
}
 .right-dropdown-language>a {
     line-height: 10px;
     padding: 5px 5px;
     cursor: pointer;
}
 .dropdown-bar .dropdown-link li a {
     color: #111111;
     display: block;
     font-size: 12px;
     line-height: 15px;
     padding: 5px 0;
}
 .dropdown-bar .dropdown-link li a:hover {
     color: #38c8a8;
}
 .dropdown-bar .dropdown-link li a img {
     margin-right: 7px;
}
 .dropdown-bar .dropdown-link li.active {
     font-weight: bold;
}
 .right-dropdown-language .dropdown-link {
     min-width: 100px;
     padding: 7px 10px;
     color: #111111;
}
 .dropdown-bar {
     position: relative;
     padding: 0 5px;
     font-size: 13px;
}
 .dropdown-bar .dropdown-link.right-sd {
     left: auto;
     right: 0;
}
 .right-dropdown-currency {
     float: right;
     margin-left: 12px;
}
 .dropdown-bar.right-dropdown-currency>a::after {
     font-family: 'FontAwesome';
     content: "\f107";
     text-decoration: none;
     padding-left: 4px;
     color: #ffffff;
}
 .right-dropdown-currency>a {
     line-height: 10px;
     padding: 5px 5px;
     cursor: pointer;
     color: #ffffff;
}
 .right-dropdown-currency .dropdown-link {
     min-width: 100px;
     padding: 7px 10px;
     color: #111111;
}
 .right-dropdown-currency .dropdown-link {
     min-width: 55px;
     padding: 7px 10px;
}
 .right-dropdown-currency .dropdown-link li a span.symbol {
     margin-right: 7px;
}
 #login-modal .modal-content {
     border-radius: 0px;
}
 #login-modal .modal-content .modal-header {
     background: #38c8a8;
     border-radius: 0;
}
 #login-modal .modal-content .modal-body .form-group input {
     background: #ffffff;
     border: 1px solid #c8c8c8;
     border-radius: 0px;
}
 #login-modal .modal-content .modal-body .form-group input:focus {
     border: 1px solid #c8c8c8 !important;
}
 #login-modal .modal-content form {
     margin-bottom: 10px;
}
 .modal-title {
     padding: 0px;
     color: #ffffff;
     font-size: 18px;
     text-transform: uppercase;
}
 .btn-template-outlined {
     background: #111111;
     color: #ffffff;
     border: none;
     border-radius: 0px;
}
 .btn-template-outlined i {
     padding-right: 10px;
}
 .text-muted {
     padding: 10px 0px;
}
 .slogan-line {
     float: right;
     color: #ffffff;
     font-size: 13px;
}
 .middle-area {
     padding: 30px 0px;
}
 .header-search {
     padding: 3px 0px;
}
 .header-search form {
     position: relative;
     -webkit-box-shadow: 0px 1px 10px -1px rgba(0, 0, 0, 0.2);
     box-shadow: 0px 1px 10px -1px rgba(0, 0, 0, 0.2);
}
 .header-search .btn-group.bootstrap-select {
     position: absolute;
     left: 0px;
     top: 0px;
}
 .header-search input {
     width: 100%;
     min-height: 45px;
     border-radius: 0px;
     border: none;
     padding-left: 15px;
     border: 1px solid #e0e7ed;
}
 .header-search form .search-btn {
     position: absolute;
     right: 0;
     top: 0;
     border: 0;
     color: #fff;
     font-size: 20px;
     padding: 4px 15px;
     border-radius: 0px;
     background-color: #38c8a8;
     cursor: pointer;
}
 .header-search form .search-btn:hover {
     background: #111111;
}
 .cart-box {
     float: right;
     margin-left: 10px;
     position: relative;
}
 .cart-content-box {
     position: absolute;
     z-index: 1009;
     top: 40px;
     left: auto;
     right: 0;
     min-width: 250px;
     max-width: 250px;
     padding: 15px;
     background: #ffffff;
     list-style: none;
     border: 2px solid #38c8a8;
     opacity: 0;
     visibility: hidden;
     -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
     text-align: left;
     -webkit-transform: scaleY(0);
     transform: scaleY(0);
     -webkit-transform-origin: 0 0 0;
     transform-origin: 0 0 0;
     -webkit-transition: all 0.3s ease 0s;
     transition: all 0.3s ease 0s;
     transition: all 0.3s ease 0s;
}
 .cart-box:hover .cart-content-box {
     opacity: 1;
     visibility: visible;
     top: 100%;
     -webkit-transform: scaleY(1);
     transform: scaleY(1);
}
 .inner-cart {
     background: #38c8a8;
     border-radius: 2px;
     padding: 0px;
     color: #ffffff;
     position: relative;
     width: 40px;
     height: 40px;
     text-align: center;
}
 .cart-box .inner-cart:hover {
     color: #ffffff;
}
 .line-cart {
     float: left;
     line-height: 40px;
     margin-right: 9px;
}
 .cart-box a {
     display: inline-block;
}
 .cart-box a:hover {
     color: #38c8a8;
}
 .cart-box a span.icon {
     background: #38c8a8;
     width: 30px;
     height: 40px;
     display: inline-block;
     line-height: 40px;
     text-align: center;
     color: #ffffff;
     position: relative;
     border-radius: 2px;
}
 .cart-box a .p-up {
     position: absolute;
     right: -8px;
     top: -8px;
     line-height: initial;
     background: #38c8a8;
     padding: 3px;
     border-radius: 50%;
     width: 17px;
     height: 17px;
     font-size: 12px;
     text-align: center;
     line-height: 10px;
}
 .wish-box {
     float: right;
}
 .wish-box a {
     display: inline-block;
}
 .wish-box a:hover {
     color: #38c8a8;
}
 .wish-box a span.icon {
     background: #38c8a8;
     width: 40px;
     height: 40px;
     display: inline-block;
     line-height: 40px;
     text-align: center;
     color: #ffffff;
     position: relative;
     border-radius: 2px;
}
 .wish-box a span.icon:hover {
     background: #111111;
}
 .cart-content-right {
     padding: 5px 0px;
}
 .cart-content-box .items {
     text-align: center;
}
 .product-media {
     width: 60px;
     float: left;
     position: relative;
}
 .cart-content-box .items:hover .product-media::before {
     transform: scale(1);
     -webkit-transform: scale(1);
     -moz-transform: scale(1);
     -ms-transform: scale(1);
     -o-transform: scale(1);
}
 .product-media::before {
     position: absolute;
     content: '';
     z-index: 2;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background-color: #38c8a8;
     opacity: 0.4;
     transform: scale(0);
     -webkit-transform: scale(0);
     -moz-transform: scale(0);
     -ms-transform: scale(0);
     -o-transform: scale(0);
     transition: all 0.5s ease;
     -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
     -o-transition: all 0.5s ease;
}
 .cart-content-box .items .item .remove {
     position: absolute;
     right: 0px;
     top: 0px;
     background: #38c8a8;
     color: #ffffff;
     width: 20px;
     height: 20px;
     line-height: 18px;
     border-radius: 2px;
}
 .cart-content-box .items .item {
     margin-bottom: 10px;
     padding-bottom: 10px;
     border-bottom: 1px solid #e0e7ed;
     position: relative;
}
 .cart-content-box .items .item .product-info {
     padding-top: 10px;
     padding-left: 71px;
     text-align: left;
}
 .cart-content-box .items .item .remove:hover {
     background: #111111;
}
 .subtotal {
     text-align: left;
     text-transform: capitalize;
     color: #38c8a8;
     font-weight: 500;
     margin-bottom: 15px;
}
 .subtotal span {
     font-weight: bold;
     color: #111111;
     padding-left: 15px;
     float: right;
}
 .actions .btn-process {
     padding: 5px 16px;
     color: #ffffff;
     font-family: 'Roboto', sans-serif;
     font-size: 14px;
     border-radius: 2px;
     overflow: hidden;
}
 .actions .btn-process:hover {
     color: #ffffff;
}
 .line-cart {
     position: relative;
}
 .wish-box a span.icon span {
     position: absolute;
     right: -8px;
     top: -8px;
     line-height: initial;
     background: #38c8a8;
     padding: 3px;
     border-radius: 50%;
     width: 17px;
     height: 17px;
     font-size: 12px;
}
 .main-menu {
     text-align: center;
}
 .main-menu ul {
     margin: 0;
     list-style-type: none;
}
 .main-menu ul>li {
     display: inline-block;
     position: relative;
}
 .main-menu ul>li a {
     padding: 11px 20px;
     text-align: center;
     line-height: 20px;
     font-size: 16px;
     display: block;
     font-weight: 500;
     color: #fff;
     text-transform: uppercase;
     padding-left: 70px;
}
 .main-menu ul li:last-child a {
     padding-right: 0;
}
 .sub-down li {
     background: #ffffff;
}
 .main-menu ul>li .sub-down li a {
     color: #114c7d;
     font-size: 15px;
     text-transform: capitalize;
     font-weight: 300;
     padding: 12px 5px;
     position: relative;
     border-bottom: solid #eee 1px;
}
 .main-menu ul>li .sub-down li a::before {
}
 .main-menu ul>li .sub-down li a:hover {
     color: #111111;
}
 .main-menu ul>li .sub-down li a:hover::before {
}
 .main-menu ul li:first-child {
     margin-left: 0;
     background: #f00;
}
 .main-menu ul>li>ul {
     opacity: 0;
     position: absolute;
     text-align: left;
     top: 100%;
     -webkit-transform: scaleY(0);
     transform: scaleY(0);
     -webkit-transform-origin: 0 0 0;
     transform-origin: 0 0 0;
     -webkit-transition: all 0.3s ease 0s;
     transition: all 0.3s ease 0s;
     visibility: hidden;
     width: 240px;
     z-index: 999;
     background: #fff;
     -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
     box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}
 .main-menu>ul>li:hover>ul {
     -webkit-transform: scaleY(1);
     transform: scaleY(1);
     visibility: visible;
     opacity: 1;
}
 .main-menu ul>li>ul>li {
     margin: 0px;
     position: relative;
     display: block;
}
 .main-menu ul>li>ul>li:hover>ul {
     -webkit-transform: scaleY(1);
     transform: scaleY(1);
     visibility: visible;
     opacity: 1;
     left: 100%;
     top: 10px;
}
 .main-menu ul>li>ul>li>a {
     background: none !important;
}
 .mean-container .mean-nav {
     margin-top: 0px;
     position: absolute;
     top: 100%;
}
 .main-menu ul>li {
     position: inherit;
     display: block;
     text-align: left;
     vertical-align: middle;
}
 .main-menu ul>li:nth-child (6) {
     padding-right: 0px;
}
 .nav>li {
     position: inherit;
     display: inline-block;
     vertical-align: middle;
}
 .megamenu .sub-down {
     max-width: 1140px;
     width: 100%;
     left: 0;
     margin: 0 auto;
     right: 0;
     padding: 15px 0px;
}
/*--------------------------------------------------------------------- top banner area ---------------------------------------------------------------------*/
/*--------------------------------------------------------------------- layout new css ---------------------------------------------------------------------*/
 ul.top_icon {
    float: right;
}
 ul.top_icon li {
    display: inline-block;
}
 ul.top_icon li a {
    color: #fff;
     font-size: 17px;
    line-height: 20px;
     padding: 0px 20px;
}
 .button_login {
    background-color: #f00;
     padding: 4px 12px;
     border-radius: 5px;
}
 .button_login:hover {
    background-color: #ff0000b5;
}
 .padding_left0 {
    padding-left: 0px;
}
 .main-menu ul {
     list-style: none;
     margin: 0;
     padding: 0;
}
 .main-menu ul > li a {
     position: relative;
     display: block;
     cursor: pointer;
}
 .main-menu ul > li a:before, .main-menu ul > li a:after {
     content: '';
     position: absolute;
     width: 0%;
     height: 1px;
     top: 50%;
     margin-top: -0.5px;
     background: #fff;
}
 .main-menu ul > li a:before {
     left: -2.5px;
}
 .main-menu ul > li a:after {
     right: 2.5px;
     background: #fff;
     transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}
 .main-menu ul > li a:hover:before {
     background: #fff;
     width: 100%;
     transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}
 .main-menu ul > li a:hover:after {
     background: transparent;
     width: 100%;
     transition: 0s;
}
.header-top {
    background: url(../images/banner2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 50px;
    min-height: 980px;
    background-position: right top;
}
 .header {
     position: absolute;
     z-index: 999;
     width: 100%;
     padding: 40px 40px 40px 40px;
}
 .logo a {
     font-size: 40px;
     font-weight: bold;
     text-transform: uppercase;
     color: #fff;
     line-height: 40px;
}
 .banner_Client {
     position: relative;
}
.text-bg {
   padding-top: 345px;
}
 .text-bg h1 {
     color: #fff;
     padding-top: 80px;
     font-size: 90px;
     line-height: 100px;
     padding-bottom: 25px;
     text-transform: uppercase;
     font-weight: 500;
}
 .text-bg span {
     font-size: 17px;
     display: block;
     color: #fff;
     line-height: 25px;
     padding-bottom: 50px;
}
 .text-bg a {
     font-size: 16px;
     text-transform: uppercase;
     background-color: #fff;
     color: #ff0000;
     padding: 10px 40px;
     display: inline-block;
}
 .text-bg a:hover {
     background-color: #ff0000;
     color: #fff;
}
 .text-img figure {margin: 0;}
  .text-img figure img {float: right; max-width: 950px;}
 .text {
     position: inherit;
     text-align: left;
     background: #0fbbad;
     width: 100%;
     bottom: auto;
     padding: 0;
     margin-top: 90px 
}
 .img_bg {
     text-align: center;
     margin: 0 auto;
     align-items: center;
     width: 100%;
     display: flex;
     height: 100%;
     text-align: center;
     justify-content: center;
     flex-wrap: wrap;
}
 .img_bg figure {
     margin: 0px;
}
 .img_bg figure img {
     width: 100%;
}
 .img_bg h3 {
     text-align: center;
     font-size: 50px;
     line-height: 58px;
     color: #fff;
}
 .slider_section {
     padding-top: 134px;
}
 .black_nolmal {
     font-weight: normal;
     color: #000;
}
/** how_it section **/
 .margin_bottom {
    margin-bottom: 35px;
}
 .our {
     background-color: #fff;
     padding-top: 90px;
}
 .our .titlepage {
     text-align: left;
}
 .our .two-box figure {
     margin:0px;
}
 .our .Games {
     text-align: left;
}
 .our .Games h3 {
     color: #000;
     font-size: 30px;
     line-height: 30px;
     font-weight: 500;
     padding: 0;
}
 .our .Games p {
     font-size: 17px;
     line-height: 30px;
     color: #181716;
     padding:20px 0px;
     font-weight: 400;
}
 .our .Games a {
     font-size: 16px;
     border: #fff solid 1px;
     background-color: #000;
     color: #fff;
     padding: 10px 27px;
     display: inline-block;
}
 .our .Games a:hover {
     background-color: #ff0000;
     border: #ff0000 solid 1px;
     color: #fff;
}
/** end our section **/
/** We_are section **/
 .We_are {
     padding-top: 90px;
     background: #fff;
}
 .box_bg {
     background: #c3c3c3;
     padding: 40px 0px 40px 65px;
     margin-right: 101px;
}
 .box_bg_img {
     margin-right: -84px;
     box-shadow: #c3c3c3 0px 0px 29px 4px;
}
 .box_bg_img figure {
    margin: 0;
}
 .box_bg_img figure img {
    width: 100%;
}
 .border_right {
    border-right: #f00 solid 6px;
}
 .box_text {
     max-width: 531px;
     width: 100%;
     padding: 25px 2px 2px 2px;
}
 .box_text p {
     font-size: 17px;
     line-height: 30px;
     font-weight: 400;
     text-align: right;
     color: #181716;
}
 .box_text a {
     font-size: 16px;
     border: #fff solid 1px;
     background-color: #000;
     color: #fff;
     padding: 10px 39px;
     display: inline-block;
     margin-top: 11px;
}
 .box_text a:hover {
     background-color: #ff0000;
     border: #ff0000 solid 1px;
     color: #fff;
}
/** end We_are section **/
/** about section **/
 .about {
     background-color: #fff;
     padding-top: 90px;
}
 .about .about-box {
    text-align: center;
}
 .about .about-box p {
     font-size: 17px;
     line-height: 28px;
     color: #000;
     padding-top: 40px;
}
 .about .about-box figure {
     margin: 0;
}
 .about .about-box figure img {
    width: 100%;
}
/** end about section **/
/** contact section **/
 .contact {
     padding-top: 90px;
}
 .white_bg {
     background-color: #fff;
     padding: 40px 30px 30px 30px 
}
 .contact .titlepage {
     text-align: center;
}
 .contact .titlepage h3 {
     padding: 0px 0px 6px 0px;
     text-transform: uppercase;
     font-weight: bold;
     color: #fff;
     line-height: 46px;
     border-bottom: #fff solid 1px;
     font-size: 40px;
     width: 367px;
     margin: 0 auto;
     margin-bottom: 60px;
}
 .contact .contact_bg {
     background: #ff0000;
     width: 100%;
     height: 100%;
     padding: 0;
     padding: 60px;
}
 .contact .contact_bg .contactus {
     border: #b1b0b0 solid 1px;
     padding: 12px 19px;
     margin-bottom: 26px;
     border-radius: inherit;
     color: #000;
     width: 100%;
}
 .contact .contact_bg .textarea {
     margin-bottom: 25px;
     padding: 15px 19px;
     color: #000 !important;
     width: 100%;
     border: #b1b0b0 solid 1px;
     border-radius: inherit;
}
 .contact .contact_bg .send {
     font-size: 16px;
     border: #000 solid 1px;
     background-color: #000;
     color: #fff;
     padding: 11px 67px;
     display: flex;
     justify-content: center;
     margin: 0 auto;
     flex-wrap: wrap;
}
 .contact .contact_bg .send:hover {
     background-color: #fff;
border: #fff solid 1px;
color: #f00;
}
/** end contact section **/
/** testimonial **/
 .testimonial {
     background: #fff;
     margin-top: 85px;
}
 .titlepage {
    text-align: center;
     padding-bottom: 60px;
}
 .titlepage h2 {
     padding: 0;
     font-weight: 500;
     color: #000;
     line-height: 50px;
     font-size: 50px;
}
 .testimonial_box {
    text-align: center;
}
 .testimonial_box figure {
    margin: 0;
}
 .box {
     display: flex;
     align-items: center;
     flex-wrap: wrap;
     text-align: center;
}
 .testimonial .clients_box {
     text-align: center;
}
 .testimonial .clients_box {
     border-radius: 20px;
     text-align: center;
}
 .testimonial .clients_box h3 {
     padding-top: 20px;
     font-size: 29px;
     line-height: 30px;
     color: #000;
     font-weight: 500;
     border-bottom: #000 solid 1px;
     width: 104px;
     display: inline-block;
     padding-bottom: 5px;
     margin-bottom: 15px;
}
 .testimonial .clients_box p {
     color: #000;
     font-size: 17px;
     line-height: 28px;
     font-weight: 400;
     color: #1a1a1b;
}
 .testimonial .clients_box span {
     color: #6e6e6e;
     font-size: 16px;
     padding-bottom: 5px;
     display: inline-block;
}
/** end testimonial **/
/** footer **/
 .footer {
     padding-top: 90px;
     margin-top: 90px;
}
 .footer h2 {
    color: #fff;
     font-size: 40px;
     line-height: 40px;
     text-align: center;
}
 .footer .address h3 {
     color: #fff;
     font-size: 25px;
     line-height: 35px;
     font-weight: 500;
     text-transform: uppercase;
     padding-bottom: 20px;
     padding-bottom: 3px;
     border-bottom: #ff0000 solid 4px;
     margin-bottom: 20px;
     width: 160px;
}
 .location_section {
     background-color: #fff;
     margin-bottom: 40px;
     border-radius: 10px;
     padding: 20px 35px;
}
 .news {
    padding-bottom: 50px;
     padding-top: 15px;
}
 .news .newslatter {
     padding: 14px 15px;
     box-shadow: inherit;
     width: 70%;
     font-size: 19px;
}
 .submit {
    padding: 14px 45px;
     border: #f00 solid 1px;
     background: #f00;
     color: #fff;
     margin-left: -5px;
     font-weight: 500;
     font-size: 19px;
     max-width: 271px;
     width: 100%;
}
 .submit:hover {
     background: #d2cece;
     border: #d2cece solid 1px;
     color: #f00;
}
 ul.social_link {
    padding-bottom: 35px;
     padding-top: 7px;
     display: block;
}
 ul.social_link li {
    display: inline-block;
     padding-right: 4px;
}
 ul.social_link li a img {
    width: 30px;
     height: 30px;
}
 ul.social_link li a img:hover {
     background-color: #fe0000;
     border-radius: 20px;
}
 ul.Menu_footer li{
    padding-bottom: 5px;
     display: block;
     color: #3e7f21;
}
 ul.Menu_footer li a {
     display: block;
     color: #fff;
     font-size: 17px;
     padding-left: 16px;
     margin-top: -27px;
}
 ul.Menu_footer li a:hover{
     color: #ff0000;
}
 ul.Links_footer {
     list-style: none;
     margin: 0;
     padding: 0;
     width: 100%;
     float: left;
}
 ul.Links_footer li a {
     display: block;
     color: #fff;
     font-size: 17px;
     padding-left: 16px;
     margin-top: -27px;
}
 ul.Links_footer li a:hover{
     color: #ff0000;
}
 ul.Links_footer li {
     padding-bottom: 5px;
     color: #3e7f21;
     display: block;
}
 ul.loca li {
     color: #fff;
     padding-bottom: 10px;
     display: flex;
     font-size: 16px;
     flex-wrap: wrap;
}
 ul.loca li a {
     padding-right: 16px;
     color: #fff;
     margin-top: 4px;
}
 .copyright {
     padding: 20px 0px;
     margin-top: 55px;
     background-color: #333;
     color:#fff !important;
}
 .copyright p {
     color: #fff;
     font-size: 18px;
     line-height: 22px;
     text-align: center;

}
 .copyright a {
     color: #555;
}
 .copyright a:hover {
     color: #f00;
}
/** end footer **/
/*--------------------------------------------------------------------- ener page css ---------------------------------------------------------------------*/
.bannerNews{
    max-width: 300px;
    border-radius: 10px;
}
.our .Games a{
    background-color: rgba(211,207,123) !important;
    color: #333 !important;
    width: 250px;
    height: 50px;
    text-align: center;
    border-radius: 5px;

}
.our .Games a:hover{
    border: none !important;
    background-color: rgba( 162, 158, 74 ) !important;
}
.form_register{
    padding: 20px;
    margin: 10%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgba(211,207,123);
    color: #333;
    border-radius: 10px;
    border: solid 10px #333;
}
.form_register input{
    border-top-left-radius: 0;
}
.h3{
    margin-left: 37%;
    font-size: 15px; 
}
.logo_register{
    margin-left: 40%;
    max-width: 200px;
    max-height: 200px;
}
.btnPerso{
    width: 100%;
    height:40px;
    text-align:center;
    background-color: #333 !important;
    color: rgba(211,207,123) !important;
    border: none !important;

}
.badgePerso{
    background-color: #333 !important;
    color: rgba(211,207,123) !important;
    width: 250px;
    height: 20px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-left: 8px;
    vertical-align:middle;
    display: table-cell;
}
.alertPerso{
    max-width: 50%;
}
.my-custom-class-for-errors{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.my-custom-class-for-errors .invalid-feedback{
    color: #333 !important;
    font-size: 15px !important;
    text-align:center;
}
.my-custom-class-for-errors .badge-danger{
background-color: #333;
color:rgba(211,207,123);
}
.button_login2{
    background-color: rgba(211,207,123);
    color: #333;
    padding: 2.5px;
    border-radius: 5px;
    margin-top: 2% !important;
    text-align:center;
}
.button_login2 a{
    font-size: 20px !important;
    color: #333 !important;
    max-width: 50px;
}
.button_login2:hover{
    background-color: rgba(211,207,123);
    color: #333;
}
.navPerso{
    background-color: #333;
    color: #fff !important;
    
    width: 100%;

}

.navPerso a{
    color: white !important;
}
.bg-dark {
    background-color:  rgba(211,207,123)!important;
   
}

.navLspd{
    background-color: rgba(50, 96, 241 );
    color: white !important;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100px;
}
.nav-pills .navNews-link.active, .nav-pills .show>.navNews-link {
background-color: rgba(182, 39, 39);
color: #fff !important;
}
.nav-pills .navLspd-link.active, .nav-pills .show>.navLspd-link {
    background-color: rgba(50, 96, 241 );
    color: white !important;
}

.navNews{
    background-color: rgba(182, 39, 39);
    color: white !important;
}
.profilBox{

    padding: 5px;
    background-color:#dcdcdc;
    color: #333;
    border:solid 3px #3333;
}

.profilBox .col-lg-8{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
}
.profilBox  h3{
    font-size: 20px !important;
    text-align: center !important;
}

.successAppel{
    color:#333;
}
.boxVehicule{
    display:flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 5px;
    margin: 10px;
    background-color:#dcdcdc;
    color: #333;
    border:solid 3px #3333;
}
.boxDev{

    display: flex;
    flex-direction: row;
}
.navLSPD{
    background-color: #075EA5;
    color:#fff;
    padding: 6px;
}
.navLSPD li a{
    color: #fff !important;
}
.LspdBox{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    padding: 5px;
    margin: 10px;
    background-color:#dcdcdc;
    color: #333;
    max-width: 30%;
    border:solid 3px #3333;
}
.LspdBox12{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    padding: 5px;
    margin: 10px;
    background-color:#dcdcdc;
    color: #333;
    border:solid 3px #3333;
}
.boxFormLspd{
    background-color: #333 !important;
    border: solid 3px #dcdcdc !important;
    border-radius: 5px !important;
    width: 50%;
    min-width: 350px;
    padding: 30px;
    margin-left: 25%;
}
.boxFormLspd .card{
    padding: 20px;
}
.btnRapport{
    width:100%;
}
.LspdBox12 > .btn .btn-info{
    background-color: #2B77FC !important;
    color: WHITE !important;
    text-align:center;
    border: 0 !important;
    border-radius: 0 !important;
}
.LspdBox12  .btn{
    border-radius: 0 !important;
}

.dropdown-menu a {
    color: #333 !important;
}
.profilBox .card-body{
    text-align:center;
}
.profilBoxC .card-body{
    text-align:center;
}
.LspdBoxC{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    padding: 5px;
    margin: 10px;
    background-color:#dcdcdc;
    color: #333;
    max-width: 15%;
    border:solid 3px #3333;
}
.navbar-nav .dropdown a{
    color: #000 !important;
}
.navbar-nav{
    margin-top: 10px;
}
.full-screen {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    color: white;
    background: rgba(0,0,0,0.9);
    z-index: 10000;
  }
  
  .full-screen h2{
    color:white;
  }

  .flex-container-center {
    displaY: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
  }
  
  
  .hidden {
      display: none;
  }
  .boxPegi{
      color: #333 !important;
      text-align:center;
      flex-direction: row;
  }
  .boxPegi h2{
      color: #333 !important;
  }
  .staffPage{
      padding: 20px;
  }
  .titlepage{
      text-align:center !important;
  }
  .cardnews{
      margin: 50px !important;
      
  }