<html>

    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Reborn Roleplay{% endblock %}</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!-- mobile metas -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1">
        <!-- site metas -->
        <meta name="description" content="Site du serveur Reborn Roleplay GTA V Fivem ">
        <meta name="author" content="Jack Oneill - Timetodev">
        <!-- bootstrap css -->
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css')}}">
        <!-- style css -->
        <link rel="stylesheet" href="{{ asset('css/style.css')}}">
        <!-- Responsive-->
        <link rel="stylesheet" href="{{ asset('css/responsive.css')}}">
        <!-- fevicon -->
        <link rel="icon" href="{{ asset('images/fevicon.png')}}" type="image/gif" />
        <!-- Scrollbar Custom CSS -->
        <link rel="stylesheet" href="{{ asset('css/jquery.mCustomScrollbar.min.css')}}">
        <!-- Tweaks for older IEs-->
        <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
            {% block stylesheets %}{% endblock %}
            <!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>


<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script type="text/javascript" src="{{asset('js/script.js')}}" defer></script>
</head>
<body>



<div class="full-screen hidden flex-container-center">
        <div class="boxPegi">
            <div class="card">
                <div class="card-header"> <h2 >⚠️ Information Importante ⚠️ </h2></div>
                <div class="card-body"> <p>En cliquant sur continuer vous accepter que ce site peut contenir des photo interdit au moins de 18ans , Reborn RP ne pourras pas être tenue pour responsable.</p></div>
                <div class="card-footer">
                <button  class="btn btn-success " id="continuer">Continuer</button>
                <button class="btn btn-danger"  id="fermer">Quitter</button>
                </div>
            </div>
       
       
        
        </div>
      </div>

</body>
</html>