{% extends 'base.html.twig' %}

{% block title %}Reborn Roleplay | Home Page{% endblock %}
{% block javascripts %}



{% endblock %}
 
{% block body %}

 {% include 'includes/header.html.twig' %}
   
      
    <!-- our -->
    <div id="games" class="our">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="titlepage">
                        <h2>Weazel News</h2>
                    </div>
                </div>
            </div>
            <div class="row">
            {% for newse in news %}
                <div class="col-md-2 cardnews">
                    

                    <div class="card " style="width:400px;">
                        <img class="card-img-top" src="{{ vich_uploader_asset(newse, 'imageFile') }}" alt="News images">
                        <div class="card-body">
                            <h4 class="card-title">{{ newse.title|upper }}</h4>
                            <div class="author">Auteur : <span class="badge badge-info">{{ newse.auteur }}</span> Catégorie : <span class="badge badge-danger">{{ newse.categorie }}</span> </div>
                            <p class="card-text">{{ newse.content|striptags|slice(0, 250)  ~ '...' }} </p>
                            
                        </div>
                        <div class="card-footer"><a class="btn btn-success" href="{{ path('news', {'id': newse.id }) }}">Lire la suite ...</a></div>
                    </div>
                </div>
                {% else %}
                 <div class="alert alert-info col-lg-12">
                    <strong>News</strong> Aucune News de publier pour l'instant.
                </div>
                {% endfor %}
                
               
            </div>
        </div>
    </div>
   <div class="titlepage">
                        <h2>DevBlog Serveur</h2>
                    </div>
<div class="boxDev">


    
       
           {% for devblog in devblogs %}
<div class="card card bg-info text-white col-lg-4 col-md-4 col-sm-8">
  <div class="card-header">{{ devblog.title }}  crée le : <span class="badge badge-info">{{ devblog.createdAt|date('d/m/Y') }}</span>  </div>
  <div class="card-body">{{ devblog.contenue|raw }}</div>
  <div class="card-footer">Création de : <span class="badge badge-success">{{ devblog.auteur }}</span></div>
</div>
{% else %}
<div class="alert alert-info col-lg-12">
  <strong>DEVBLOG</strong> Aucun devblog de publier pour l'instant.
</div>

 {% endfor %} 
       
    </div>







    <!-- end testimonial -->


      {% include 'includes/footer.html.twig' %}
{% endblock %}
