{% extends 'base.html.twig' %}

{% block title %}Reborn Roleplay | Weazel News{% endblock %}

{% block body %}

    <!-- our -->
    <div id="games" class="our">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="titlepage">
                        <h2>Weazel article - {{ article.title }}</h2>
                    </div>
                </div>
            </div>
            <div class="row">
           
                <div class="col-md-12 margin_bottom">
                    <div class="row">

                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                            <div class="two-box">
                                <figure><img class="bannerNews" src="{{ vich_uploader_asset(article, 'imageFile') }}" alt="#" /></figure>
                            </div>
                        </div>

                        <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12">

                            <div class="Games">
                                <h3></h3>
                                <div class="author">Auteur : <span class="badge badge-info">{{ article.auteur }}</span> Catégorie : <span class="badge badge-danger">{{ article.categorie }}</span> </div>
                                <p>{{ article.content|raw}} </p>
                               
                            </div>
                        </div>
                    </div>
                </div>
               
                
               
            </div>
        </div>
    </div>


    
{% endblock %}