<footer>
        <div class="footer ">
           
            <div class="copyright">
                <div class="container">
                    <p>© 2020 All Rights Reserved. Created by Jack Oneill To Reborn RP <a href="{{ path('mention_legal') }}">Mention Légal</a> </p>
                </div>
            </div>
        </div>
    </footer>
    <!-- end footer -->
    <!-- Javascript files-->
    <script src="{{ asset('js/jquery.min.js')}}"></script>
    <script src="{{ asset('js/popper.min.js')}}"></script>
    <script src="{{ asset('js/bootstrap.bundle.min.js')}}"></script>
    <script src="{{ asset('js/jquery-3.0.0.min.js')}}"></script>
    <script src="{{ asset('js/plugin.js')}}"></script>
    <!-- sidebar -->
    <script src="{{ asset('js/jquery.mCustomScrollbar.concat.min.js')}}"></script>
    <script src="{{ asset('js/custom.js')}}"></script>
    <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>

