  <!-- loader  -->
    {# <div class="loader_bg">
        <div class="loader"><img src="images/loading.gif" alt="#" /></div>
    </div> #}
    <!-- end loader -->
    <!-- header -->
    <header>
        <!-- header inner -->
        <div class="header-top">
            <div class="header">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
                            <div class="full">
                                <div class="center-desk">
                                    <div class="logo">
                                        <a href="{{ path('index')}}"><img style="max-width: 80px; max-height: 80px;" src="images/logo.jpg" alt="logo reborn rp" /></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
                                        {% if not app.user %}
                                            <ul class="top_icon">
                                            <li class="button_login"> <a href="{{ path('security_login')}}">Connexion</a> </li>
                                            <li> <a href="{{ path('security_register')}}">Inscription</a> </li>
                                            <li class="mean-last">
                                             <a href="#"><img src="images/search_icon.png" alt="#" /></a>
                                            </li>
                                        </ul>
                                        {% else %}
                                        <ul class="top_icon">
                                        <li>Connecté en temps que : {{ app.user.username }}</li>
                                            <br/><li class="button_login2"><a href="/membre" data-toggle="tooltip" title="Profil utilisateur"><i class="fa fa-id-card"></i></a></li>
                                             <li class="button_login2"><a href="{{ path('security_logout')}}" data-toggle="tooltip" title="Déconnexion du site"><i class="fa fa-sign-out"></i></a></li>
                                        </ul>
                                        {% endif %}
                                           
                        </div>
                    </div>
                </div>
            </div>
            <!-- end header inner -->

            <!-- end header -->
            <section class="slider_section">
                <div class="banner_main">

                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-2 padding_left0">
                                <div class="menu-area">
                                <div class="limit-box">
                                    <nav class="main-menu">
                                        <ul class="menu-area-main">
                                            <li class="active"> <a href="{{ path('index') }}">Accueil</a> </li>
                                            <li> <a href="{{ path('page_staff')}}">Notre équipe</a> </li>
                                            <li> <a href="#">Contact</a> </li>
                                           
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 ">
                                <div class="text-bg">
                                    <h1>Reborn<br> Roleplay</h1>
                                    <span>Rejoindre l'aventure c'est commencer <br> une nouvelle vie</span>
                                    
                                </div>
                            </div>
                             <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 ">
                                <div class="text-img">
                                   <figure><img style="max-width: 500px; max-height: 500px; margin-right: 350px; margin-top: 130px;"src="images/img.png" alt="#"/></figure>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
        
           </section>
        </div>
    </header>