<div class="navLSPD">

   
<nav class="navbar navbar-expand-sm">

  <!-- Links -->
  <ul class="navbar-nav">
  <a href="{{ path('lspd_home')}}"><img src="{{asset('images/lspd.png')}}" style="max-width: 50px; max-height: 50px; margin-right: 10px;"></a>
  <li class="nav-item dropdown">
      <button type="button" class="btn btn-dark" id="navbardrop" data-toggle="dropdown">
       Menu Action</button>
      <div class="dropdown-menu">
         <a class="dropdown-item" href="{{ path('lspd_rapport')}}">Rapport de Police</a>
         <a class="dropdown-item" href="{{ path('lspd_enquete')}}">Dossier D'enquête</a>
         <a class="dropdown-item" href="{{ path('lspd_casier')}}">Casier Judiciaire</a>
         <a class="dropdown-item" href="{{ path('lspd_plainte')}}">Dêpot de plainte</a>
         <a class="dropdown-item" href="">Saisi</a>
      </div>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="#">Bracelet Elec</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Déclaration de vol</a>
    </li>
     
  </ul>

</nav>
</div>