<div class="navprofil">
    <ul class="nav nav-pills navPerso">
        <li class="nav-item">
            <a class="nav-link disabled" href="#"><span class="badge badge-info">Utilisateur: {{ username }}</span></a>
        </li>
        {# menu LSPD #}
        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_MODO') or is_granted('ROLE_LSPD')%}
        
        <li class="nav-item navLspd">
        <a class="nav-link navLspd-link" href="{{ path('lspd_home')}}"><img src="{{ asset('images/lspd.png')}}" style="max-width: 30px; max-height: 30px; border-radius: 50%;"> LSPD</a>
        </li>
                                                 
        {% endif %}
        
        {# menu Weazel News #}
        {% if is_granted('ROLE_WEAZEL') or is_granted('ROLE_DEV') or is_granted('ROLE_ADMIN')%}
        
        <li class="nav-item  navNews">
            <a class="nav-link navNews-link" href="#"><img src="{{ asset('images/weazel.jpg')}}" style="max-width: 30px; max-height: 30px; border-radius:50%;"> WEAZEL NEWS</a>
        </li>                        
        {% endif %}


        {# <li class="nav-item">
             <a class="nav-link" href="{{ path('whitelist')}}">Passer ma Whitelist</a>
        </li> 
        <li class="nav-item"> #}
            <a class="nav-link disabled" href="#">Disabled</a>
        </li>
    </ul>
    {% if error is defined %}
    {{ error }}
    {% endif %}
</div>