{% extends 'base.html.twig' %}

{% block title %}Membre de Reborn RP{% endblock %}
 
{% block body %}
{% include 'includes/header.html.twig' %}
<div class="container staffPage">
<blockquote>Ci-dessous la liste des membres de l'équipe de reborn RP avec leur fonction .</blockquote>
<div class="row">
    {% for staff in staffs %}
        <div class="col-lg-2 col-md-2 col-sm-12" style="margin-right: 10px !important;">
            <div class="card" style="width:200px; border: solid 3px; #333 !important;margin: 0 important; ">
                <img class="card-img-top" src="{{ vich_uploader_asset(staff, 'imageFile') }}" alt="Avatar de {{ staff.nom }}">
                    <div class="card-body">
                        <h4 class="card-title">{{ staff.prenom|upper }} {{ staff.nom|upper }}</h4>
                        <p class="card-text"><span class="badge badge-warning">{{ staff.role|upper }}</span></p>
                    </div>
            </div>
        </div>
    {% endfor %}
    </div>
    </div>
    {% include 'includes/footer.html.twig' %}
{% endblock %}
